@using MetaPortal.Models
@model Restaurant

@{
    ViewBag.Title = "VBCreate!";
}

<h1>Create New Stock Announcement</h1>

<form method="post">

    <div>
        <label asp-for="Name" />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Status" />
        <select asp-for="Status" asp-items="@Html.GetEnumSelectList<StatusType>()"></select>
        <span asp-validation-for="Status"></span>
    </div>

    <input type="submit" name="save" value="Save" />
</form>